<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">

    <title>登录</title>

    <style>
        .el-input {
            width: 150px;
        }
    </style>

    <!-- import CSS -->
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>

</head>
<body data-spy="scroll" data-target="#myNavbar" data-offset="150" bgcolor="#E6E6FA">
    <div id="app">
        <div class="search" style="text-align:center;">

            <el-form :inline="true" status-icon :model="user" :rules="rules" ref="user">
                <br/>
                <br/>
                <br/>
                <h1 align="center">User login</h1>
                <br/>
                <br/>
                <br/>
                <el-form-item label="name" prop="name">
                    <el-input
                            size="mini"
                            v-model="user.name"
                    ></el-input>
                </el-form-item>
                <br/>
                <el-form-item label="password" prop="password">
                    <el-input size="mini" v-model="user.password" type="password"></el-input>
                </el-form-item>
                <br/>
                <el-button size="mini" type="primary" @click="signin('user')">Sign in</el-button>
            </el-form>

        </div>
    </div>
</body>



<script>
    const nameValidate = (rule,value,callback) => {
        const tset = /^[a-zA-Z]/;
        if (tset.test(value)){
            callback();
        }else {
            return callback(new Error("不能以数字、特殊字符开头"));
        }
    };

    const nameValidate2 = (rule,value,callback) => {
        const tset = /[^\w]/;
        if (tset.test(value)){
            callback(new Error("用户名不能包含空格等非法字符"));
        }else {
            callback();
        }
    };
    new Vue({
        el:'#app',
        data:{
            user:{
                name:'',
                password:''
            },
            rules: {
                name: [
                    { required: true, message: '请输入用户名', trigger: 'blur' },
                    { min: 5, max: 10, message: '长度在 5 到 20 个字符', trigger: 'blur' },
                    { validator: nameValidate, trigger: 'blur'},
                    { validator: nameValidate2, trigger: 'blur'}
                ],
                password: [
                    { required: true, message: '请输入密码', trigger: 'blur' },
                ]
            },

        },
        methods:{
            // 用户登录
            signin(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/user/signIn",this.user).then(res => {
                            if (res.data.flag){
                                this.$message.success(res.data.message);
                            }else {
                                this.error.$message(res.data.message);
                            }
                        })
                    }
                });


            },
        }
    })
</script>

</html>